<div class="neural-bg">
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
  <div class="neural-particle"></div>
</div>
<app-header></app-header>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
